@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"), url("../fonts/Robotocondensed.woff2") format("woff2"),
        url("../fonts/Robotocondensed.woff") format("woff");
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"), url("../fonts/Robotocondensedbold.woff2") format("woff2"),
        url("../fonts/Robotocondensedbold.woff") format("woff");
}

@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto"), url("../fonts/Robotolight.woff2") format("woff2"),
        url("../fonts/Robotolight.woff") format("woff");
}
